li, a {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 4px;
    background-color: #3CB371;
}

h4 {
    margin-right: 520px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: auto;
    height: 60px;
    padding: 0px 6px;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 4px;
}

.menu li a {
    padding: 10px;
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    background-color: #333333;
}